body{
    background-color: aliceblue;
    background: url('images/home_background_1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
nav img{
    height: 45px;
}
nav a h3{
    text-shadow: 1px 1px 2px;
}


.container{
    display: flex;
    height: 88vh;
    justify-content: center;
    align-items: center;
}

.container div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container div button{
    padding: 10px 50px;
    margin: 15px;
    background-color: cyan;
    border: none;
    border-radius: 5px;
    font-weight: bolder;

}
#score{
    display: none;
    margin:50px;
}

.buttonsAndScore{
    display: flex;
    flex-direction: column;
    justify-content: center;align-items: center;
}

@media only screen and (max-width: 850px) {
    .container{
        flex-direction: column-reverse;
        justify-content:  flex-end;
    }
    #mycanvas{
        margin:3vh;
    }
    #score{
        margin: 2vh;
    }
    #playBtn{
        margin-top: 15vh !important;
    }
  }

@media only screen and (max-width: 420px) {
    .buttons button{
        padding: 5px 20px !important;
        margin: 8px !important;
    }
  }
